
/*
Урок 6

 @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); ипмоорт шрифта


body
{
  background: #000; цвет фона
}

.text
{
  color: #7393d9; цвет
  text-align: center; располажение текста
  font-size: 23px; размер шрифта
  font-style: normal; стиль текста
  font-weight: bold; доп стиль(жирный, очень жирный)
  font-family: 'Itim', cursive; шрифт

  text-transform: lowercase; изминение самого текста

  word-spacing: 10px; пространство между словами
  line-height: 25px; пространство между символами

  text-decoration: line-through; декорация текста
  cursor: copy; тип курсора
}



Урок 7

 @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*
{
  margin: 0;
  padding: 0;
}
body
{
background: grey;

}
.block
{
  background: #191919;
  height: 200px; высота
  border-radius: 20px; радиус границ
  width: 35%; ширина
  border: 3px solid;  dashed - пунктирный , solid - сплошной, dotted - пунктирный(точками)... другие стилы в border-style: ... ,
  border-(left,top... - для определенной стороны)
  border-color: #fff; цвет границ
  opacity: 90%; прозрачность
  margin - внешний отступ, padding - внутренный отступ
  margin: auto;
  padding: 10px 30px;

  display: block; Тип

}

.block h3
{
  color: #fff;
  opacity: 1;
  font-family: 'Itim', cursive;
  font-size: 18px;
}  */

/* main{
  float: позиционирование либо слева(left), либо справа(right)

  position: позиционирование относительно своего места, не смещает другие элементы так как сайт
  думает, что объект стоит на месте

  absolute — данное значение задает абсолютное позиционирование элемента. ...
  Абсолютное позиционирование делает две вещи: Элемент исчезает с того места, где он должен быть и позиционируется заново.
  Остальные элементы, располагаются так, как будто этого элемента никогда не было.

  relative — относительное позиционирование элемента. ...
  использовать для позиционирования(top, bottom, left, right)

  fixed — фиксированное позиционирование элемента. ...
  Это подвид абсолютного позиционирования. Синтаксис: position: fixed;
  Позиционирует объект точно так же, как absolute , но относительно window
  прикрепляеться и при скроле меняет свое положение

  sticky — это микс относительного и фиксированного позиционирования. ...
  static (значение по умолчанию) — статическое позиционирование.

  z-index - установления словев(Объязательно использовать position: relative;)

  display: block
  Превратит любой элемент в блочный. Этот метод часто используется для ссылок,
  чтобы увеличить зону их щелчка, которую можно легко оценить, задав цвет фона.

  Значение inline
  Элементы располагаются на той же строке, последовательно.
  Ширина и высота элемента определяются по содержимому. Поменять их нельзя.

  list-syle: none - чтобы убрать все дефолтные стили( так же уберает кружочки, позначки 1, 2, 3)




} */
